{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
{{ title }} | {{ block.super}}
{% endblock %}

{% block content %}

    <div class="ui menu">
      <div class="ui category search item">
        <div class="ui transparent icon input">
          <input class="prompt" type="text" placeholder="Search animals...">
          <i class="search link icon"></i>
        </div>
        <div class="results"></div>
      </div>
    </div>

   <div class="ui segment">
   <div class="ui items">
        {% for movie in all_movies %}
          <div class="item">

            <div class="ui small image">
                {% if movie.cover %}
                    <img src="{{ movie.cover.url }}">
                {% endif %}
            </div>

            <div class="middle aligned content">
              <div class="header">
                {{ movie.title }}
              </div>
              <div class="description">
                <p>
                    {{ movie.description | linebreaks | truncatechars:550 }} <br/>
                </p>
              </div>
              <div class="extra">
                <div class="ui right floated button">
                  Action
                </div>
              </div>
            </div>

          </div>

        {% endfor %}

    </div>
    </div>

{% endblock %}
