{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
{{ title }} | {{ block.super}}
{% endblock %}

{% block content %}

    <div class="ui menu">
      <div class="ui category search item">
        <div class="ui transparent icon input">
          <input class="prompt" type="text" placeholder="Search animals...">
          <i class="search link icon"></i>
        </div>
        <div class="results"></div>
      </div>
    </div>

   <div class="ui segment">
   <div class="ui items">
      <div class="item">
        <div class="ui small image">
            <img src="{% static 'images/Google-404-not-found-error.png' %}">
        </div>
        <div class="middle aligned content">
          <div class="header">
            Content A
          </div>
          <div class="description">
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
          </div>
          <div class="extra">
            <div class="ui right floated button">
              Action
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>


    {% for movie in all_movies %}
        {{ movie.title }} <br/>
        {{ movie.description | linebreaks | truncatechars:150 }} <br/>
        {{ movie.created }} <br/>
        {{ movie.updated }} <br/>
    {% endfor %}
{% endblock %}
